# Capivara DSM
# Editor configuration for Windows/Linux compatibility

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,task,service,py,json,conf,cfg,js,css,html,yml,yaml,sql}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

[version]
charset = utf-8
end_of_line = lf
insert_final_newline = true