<aside class="sidebar">

    <div class="sidebar-logo">
        <!-- <h2>DSM</h2> <span>Enterprise</span> -->
    </div>
    <nav>
        <a href="index.html">🖥 Dashboard</a>
        <a href="/customer-login.html" class="instance-manager-only">👤 Área do cliente</a>
        <a href="console.html">⌨ Console</a>
        <a href="agents.html" class="agent-manager-only">🛰 Agents</a>
        <a href="users.html" class="admin-only">👥 Usuários</a>
        <a href="settings.html" class="admin-only">⚙ Configurações</a>
    </nav>
    <div class="sidebar-session">
        <div class="card-title">
            <h2>👤 Sessão DSM</h2>
        </div>
        <div class="server-info">
            <div class="info-box">
                <label>Usuário</label>
                <span id="current-user">-</span>
            </div>
        </div>
        <button id="btn-logout" class="logout-btn">🚪 Sair</button>
    </div>

</aside>
