[Unit]
Description=Capivara DSM Legacy Log Events Worker
After=network.target

[Service]
Type=simple
User={{DSM_USER}}
Group={{DSM_GROUP}}
Environment=DSM_ROOT=/opt/dsm
Environment=DSM_INTERVAL=10
ExecStart=/opt/dsm/dashboard/workers/events_worker.sh
Restart=always
RestartSec=5
WorkingDirectory=/opt/dsm
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
