[Unit]
Description=DSM Notification Center Timer

[Timer]
OnBootSec=45sec
OnUnitActiveSec=30sec
AccuracySec=5sec
Unit=dsm-notification-center.service

[Install]
WantedBy=timers.target
