[Unit]
Description=Capivara DSM Linux Agent
Requires=capivara-agent-runtime-identity.service
After=network-online.target capivara-agent-runtime-identity.service capivara-agent-console-reader.service
Wants=network-online.target capivara-agent-console-reader.service

[Service]
Type=simple
User=capivara-agent
Group=capivara-agent
ExecStart=/usr/bin/python3 /opt/capivara-agent/runtime/agent.py
Restart=always
RestartSec=10
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/etc/capivara-agent /var/lib/capivara-agent /var/lib/capivara-instances

[Install]
WantedBy=multi-user.target
